.container{
     margin-top: 5%;
     padding: 5px 0px;
     padding-bottom: 15px;
     min-height: 100vh;
}
.containerDark{
     margin-top: 5%;
     padding: 5px 0px;
     padding-bottom: 15px;
     min-height: 100vh;
     background-color: var(--dark-background-color) !important;
     color: var(--dark-text-color) !important;
}
.title,.titleDark{
     padding: 40px 0px 20px;
     font-weight: 900  !important;
     margin-top: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 1rem;
}
.titleDark{
     color: var(--dark-text-color) !important;
}
.emptyButton,.emptyButtonDark{
     min-width: 150px;
     margin: 5px;
     color: var(--secondary-main-color) !important;
     z-index: 1;
	position: relative;
	padding: 28px 46px;
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	background-color: transparent;
	outline: none;
	border: none;
	transition: color 0.5s;
	cursor: pointer;
	/* border-radius: 30px; */
}
.emptyButton::before,.emptyButtonDark::before{
     content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid  var(--secondary-main-color);
	border-radius: 4px;
}

.emptyButton:hover,.emptyButtonDark:hover{
     color: #FFFFFF !important;
}
.emptyButton:hover:after, .emptyButtonDark:hover:after {
	transition: all 0.3s;
	left: 0;
	top: 0;
	border-radius: 30px;
}

.emptyButton::after,.emptyButtonDark::after{
     content: "";
	z-index: -2;
	position: absolute;
	left: 3px;
	top: 3px;
	width: 100%;
	height: 100%;
	transition: all 0.3s 0.2s;
	border-radius: 4px;
}
.blobBtnInner {
	z-index: -1;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background: transparent!important;
}
.blobBtnBlobs{
	position: relative;
	display: block;
	height: 100%;
	filter: url("#goo");
}
.blobBtnBlob {
	position: absolute;
	top: 2px;
	width: 25%;
	height: 100%;
	background-color: var(--secondary-main-color) !important;
	border-radius: 100%;
	transform: translate3d(0, 150%, 0) scale(1.7);
	transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
	.blobBtnBlob {
		transform: translate3d(0, 150%, 0) scale(1.4);
	}
}
.blobBtnBlob:nth-child(1) {
	left: 0%;
	transition-delay: 0s;
}
.blobBtnBlob:nth-child(2) {
	left: 30%;
	transition-delay: 0.08s;
}
.blobBtnBlob:nth-child(3) {
	left: 60%;
	transition-delay: 0.16s;
}
.blobBtnBlob:nth-child(4) {
	left: 90%;
	transition-delay: 0.24s;
}

.emptyButton:hover .blobBtnBlob, .emptyButtonDark:hover .blobBtnBlob {
	transform: translateZ(0) scale(1.7);
}

@supports (filter: url("#goo")) {
     .emptyButton:hover .blobBtnBlob, .emptyButtonDark:hover .blobBtnBlob {
		transform: translateZ(0) scale(1.4);
	}
}

.checkoutButton,.checkoutButtonDark{
     min-width: 150px;
     margin: 5px;
     background-color: var(--main-color) !important;
     color: var(--light-text-color) !important;
}
.checkoutButtonDark{
     color: var(--dark-text-color) !important; 
}
.link{
     text-decoration: none;
}
.cardDetails{
     display: flex;
     margin-top: 10%;
     width: 100%;
     justify-content: space-between;
}
.buttons{
     display: flex;
     align-items: center;
     gap: 1rem;
}
.emptyCartContainer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-self: center;
}
.imgDiv{
     width: 100%;
     max-width: 550px;
     height:450px ;
}
.imgDiv img {
     height: 100%;
     width: 100%;
     object-fit: cover;
}
.emptyCartDetails{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1rem;
     padding: 0px 10px;
}
.emptyCartDetails button {
     background-color: var(--secondary-main-color);
}
.emptyCartDetails button:hover{
     background-color: var(--secondary-main-color);
}
.spinner{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
/* Small mobile devices */
@media (max-width: 479px){
     .container,.containerDark{
          padding-top: 20%;
          padding-bottom: 15px;
     }
     
     .title,.titleDark{
        font-size: 22px !important;
        font-weight: bold !important;
     }
     .cardDetails{
          flex-direction: column;
     }
     .subtotal{
          font-size: 18px !important;
          text-align: center !important;
          margin: 0px auto !important;
     }
     .buttons{
          flex-wrap: wrap;
          gap: .3rem;
          justify-content: center;
     }
     .checkoutButton, .emptyButton, .checkoutButtonDark, .emptyButtonDark{
          width: 100%;
     }
     .imgDiv{
          width: 100%;
          max-width: 300px;
          height:250px ;
     }
     .emptyCartDetails h4 {
          text-align: center;
          font-size: 22px;
     }

}
/* Big mobile devices */
@media only screen and (min-width: 480px) and (max-width: 767px){
     .container,.containerDark{
          padding-top: 20%;
          padding-bottom: 15px;
     }
     
     .subtotal{
          font-size: 22px;
     }
     .buttons{
          gap: .5rem;
     }
     .imgDiv{
          width: 100%;
          max-width: 400px;
          height:280px ;
     }
     .emptyCartDetails h4 {
          text-align: center;
          font-size: 22px;
     }
}
@media only screen and (min-width: 480px) and (max-width: 712px){
     .cardDetails{
          flex-wrap: wrap;
          justify-content: center;
     }
     .subtotal{
          margin: 0px auto !important;
     }
     .buttons{
          justify-content: center;
          gap: .5rem;
     }
}

