.root{
     max-width: 100%;
     cursor: pointer;
}
.rootDark{
     background-color: var(--dark-background-color) !important;
     color: var(--dark-text-color) !important;
     border: 1px solid #ffffff;
     cursor: pointer;
}
.media{
     height: 260px;
}
.mediaDark{
     height: 260px;
     padding: 10px;
     background-color: var(--dark-background-color) !important;

}
.cardContent{
     display: flex;
     flex-direction: column;
     /* justify-content: space-between; */
     padding: 10px 0px;
    
}
.cardContentDiv{
     background-color: #ffffff;
}
.addToCartDark{
     color: var(--main-color) !important;
}
.cardContentDivDark{
     background-color: var(--dark-background-color) !important;
     color: var(--dark-text-color) !important;
}
.cardActions{
     justify-content: flex-end;
}

.buttons{
     display: flex;
     align-items: center;
}