.layout{
     margin: 0% 20% 0px;
     margin-top: 5%;
     margin-bottom: 5%;
     padding-top: 10%;
     width: auto;
     min-height: 100vh;
}

.loyaltyIcon{
     color: var(--main-color) !important;
}
.title{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     color: var(--main-color) !important;
}
.paper{
     margin-top: 15px;
     padding: 15px 25px;
}
.stepper{
     padding: 30px 0px 50px;
}
.step span svg{ 
     color: var(--main-color) !important;
}

.buttons{
     display: flex;
     justify-content: flex-end;
     gap: 1rem;
}
.divider{
     margin: 20px 0px;
}
.spinner{
     display: flex;
     justify-content: center;
     align-items: center;
}
.confirmationMessage{
     display: flex;
     flex-direction: column;
}
.titleText{
     font-weight: 900;
}
.backButton,.backButtonDark{
     color: var(--secondary-main-color) !important;
     border: 1px solid var(--secondary-main-color) !important;
}
.thanks{
     font-weight: 900;
     font-style: italic;
}
@media (min-width: 768px) and (max-width: 1024px) {
     .layout{
          margin: 0% 12% 0px;
          padding-top: 10%;
          width: auto;
     }
}

@media (max-width: 479px){
     .layout{
          margin: 0% 0% 0px;
          padding-top: 30%;
          width: auto;
     }
     .paper{
          padding: 15px;
     }
     .step{
          font-size: 0.575rem !important;
     }
     .confirmationMessage h5{
          font-size: 18px;
     }
     .confirmationMessage h6{
          font-size: 18px;
     }
}
@media only screen and (min-width: 480px) and (max-width: 767px){
     .layout{
          margin: 0;
          padding-top: 10%;
          width: auto;
     }
     .paper{
          padding: 18px;
     }
}