.main {
     margin-top: 5%;
     padding: 50px 0px;
     background-color: var(--background-color);
     min-height: 100vh;
}
.mainDark{
     margin-top: 5%;
     padding: 50px 0px;
     background-color: var(--dark-background-color) !important;
     min-height: 100vh;
}