.footer{
     padding: 40px 50px;
     background-color: var(--dark-background-color);
     border-top: 5px solid var(--main-color);
}
.subFooter{
     padding: 15px 0px;
     border-bottom: 2px solid var(--secondary-main-color);
}
.title{
     flex-grow: 1;
     display: flex;
     align-items: center;
     text-decoration: none;
     font-family: 'Josefin Sans', sans-serif;
     font-size: 45px;
     letter-spacing: 1px;
     font-weight: 900;
     color: var(--dark-text-color) !important;
     gap: 1rem;
}
.item{
     text-align: center;
}
.image{
     margin-right: 10px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
}
.newsLetter{
     display: flex;
     flex-direction: column;
     gap: .5rem;
     color: var(--dark-text-color);
}
.newsLetter form {
     position: relative;
}
.newsLetter h5{
     font-size: 20px;
     font-weight: 700;
}
.newsLetter h6{
     font-size: 16px;
}
.socialMedia{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: .8rem;
}
.socialMedia h4{
     color: var(--dark-text-color);
}
.socialIconsDiv{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: .9rem;
}
.socialIconsDiv li {
     list-style-type: none;
}
.socialIconsDiv li a{
     color: var(--secondary-main-color)!important;
}
.emailInput{
     display: inline-block;
     width: 100%;
     outline: none;
     padding: 16px 140px 16px 15px;
     border: 2px solid var(--secondary-main-color);
     border-radius: 30px;
}
.submitInput{
     position: absolute;
     display: inline-block;
     outline: none;
     border: none;
     background: var(--secondary-main-color);
     color: var(--dark-text-color);
     padding: 12px 30px;
     border-radius: 30px;
     box-shadow: 0px 0px 6px #000, 0px 0px 14px #868686;
     cursor: pointer;
     top: 6px;
     right: 6px;
}
.footerMenu{
     color: var(--dark-text-color);
}
.footerMenu h5 {
     font-size: 22px;
     font-weight: 800;
     margin-bottom: 1rem;
     color: var(--secondary-main-color);
}
.footerMenu ul {
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 1rem;
}
.footerMenu ul li{
     list-style-type: none;
}
.footerMenu ul li a{
     text-decoration: none;
     color: var(--dark-text-color);
}
.footerMenu ul li a:hover{
     color: var(--secondary-main-color);
}





