@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
     font-family: 'Josefin Sans', sans-serif !important;
}
:root{
     --light-text-color: #000000;
     --dark-text-color: #ffffff;
     --main-color: #FCB424;
     --secondary-main-color: #FA5396;
     --background-color: #f1f2f3;
     --dark-background-color: #000000;
     
     

}
Button{
     display: flex !important;
     justify-content: center !important;
     align-items: center !important;
     gap: .4rem;
     padding: 10px 16px !important;
}
.moon {
	color: #f1c40f !important;
}

.sun {
	color: #f39c12 !important;
}
